<div class="sidebar-wrapper">
    <div class="sidebar-logo">
        <img src="/img/af_logo_white.png" alt="">
    </div>
    <ul class="sidebar">
        <li class="nav-title nav-item">Manager Controls</li>
        <li class="nav-item"><a href="/admin"><i class="dripicons-meter"></i><span>Dashboard</span></a></li>
        <li class="nav-item" >
            <a href="#accountMenu" data-toggle="collapse" aria-expanded="false">
                <i class="dripicons-user-id"></i>Accounts</a>
            <ul class="collapse subMenu" id="accountMenu">
                <li><a href="/account/create">Create New</a></li>
                <li><a href="/account/list/manager">Manager</a></li>
                <li><a href="/account/list/trainer">Trainer</a></li>
                <li><a href="/account/list/member">Member</a></li>
            </ul>
        </li>
        <li class="nav-item" ><a href="#exerciseMenu" data-toggle="collapse" aria-expanded="false">
            <i class="dripicons-document"></i>Exercises</a>
            <ul class="collapse subMenu" id="exerciseMenu">
                <li><a href="">Create New</a></li>
                <li><a href="">All Exercises</a></li>
            </ul>
        </li>
        <li class="nav-title nav-item">Member Records</li>
        <li class="nav-item"><a href="/admin"><i class="dripicons-user-group"></i>Members</a></li>
        <li class="nav-item"><a href="/admin"><i class="dripicons-browser-upload"></i>API Logs</a></li>
        <li class="nav-title nav-item">Other</li>
        <li class="nav-item"><a href="/admin"><i class="dripicons-information"></i>Help</a></li>
    </ul>
</div>