<div class="col-md-2">
        <ul class="sidebar">
            <li class="nav-item"><a href="/admin">Home</a></li>
            <li class="nav-item"> Accounts
                <ul class="dropdown">
                    <li class="nav-item"><a href="/account/create">Create New Account</a></li>
                    <li class="nav-item"><a href="/account/list/manager">Manager</a></li>
                    <li class="nav-item"><a href="/account/list/trainer">Trainer</a></li>
                    <li class="nav-item"><a href="/account/list/member">Member</a></li>
                </ul>
            </li>
            <li class="nav-item">Exercises</li>
        </ul>
</div>