<div class="navbar">
    <div class="container-fluid">
        <div class="float-left"><i class="dripicons-menu"></i></div>
        <ul class="float-right">
            <li><i class="dripicons-bell"></i></li>
            <li class="account">
                <span class="account-avatar">
                    <img src="/img/cjc-soft-copy.jpg" class="rounded-corner" alt="">
                </span>
                <span>John Doe</span>
            </li>
        </ul>
    </div>
</div>