<div class="row">
    <% include ./partials/header %>
    <div class="col md-10">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome!</p>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>